* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: Liham;
    src: url(FONTS/Liham\ 2.0.otf);
    font-family: Garet;
    src: url(FONTS/Garet-Book.ttf);
}

.navbar {
    overflow-x: hidden;
    width: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #E9DDBD;
}

.navbar a {
    text-decoration: none;
    color: #E9DDBD;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    padding: 5px 50px 5px 50px;
}

.navbar a:hover {
    color: #93927A;
    transition: 1s;
}

.navbar a.active {
    color: #93927A;
}

.navbar .nav-icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar a{
        display: none;
        text-align: center;
    }

    .navbar .nav-icon {
        float: none;
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {
        transition: 1s ease;
        float: none;
        position: relative;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .navbar.responsive a.nav-icon {
        transition: 1s ease;
        float: none;
        position: relative;
        top: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .navbar.responsive a {
        transition: 1s ease;
        float: none;
        display: block;
        padding: 10px;
    }
  }

@media screen and (max-width:1024px) {
    .navbar a {
        padding: 5px 20px 5px 20px;
    }
}

.art {
    height: auto;
    background-image: url(IMAGES/Copy\ of\ DSC_5341\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(70, 70, 70);
    background-blend-mode: multiply;
    display: grid;
    grid-template-areas: 
    'navbar navbar navbar navbar navbar navbar'
    'back back back back back back'
    'artdescription artdescription artdescription artdescription artdescription artdescription';
}

.backart {
    grid-area: back;
    width: 60px;
    height: 60px;
    background: transparent;
    border-radius: 50%;
    border: 5px solid #E9DDBD;

    position: absolute;
    top: 75px;
    left: 50px;
}

.backart i {
   font-size: 35px;
   position: relative;
   top: 22%;
   left: 22%; 
}

.artdescription {
    grid-area: artdescription;
    text-align: center;
    margin-top: 90px;
}

.title {
    padding-left: 61px;
    padding-right: 61px;
}

.title h2 {
    font-family: liham;
    font-size: 40px;
    text-align: center;
}

.title h3 {
    font-family: garet;
    letter-spacing: 1px;
    text-align: center;
}

.mainart {
    margin-top: 20px;
}

.mainart img {
    width: 700px;
    border-radius: 10px;
}

.changeart {
    overflow: hidden;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.changeart img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    transition: .5s ease;
    overflow: hidden;
    border-radius: 10px;
    padding: 5px;
}

.changeart img:hover {
    opacity: 0.5;
    transition: .5s ease;
}

.description {
    text-align: center;
    background-color: #E9DDBD;
    padding: 25px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
}


@media screen and (max-width: 600px) {
    .backart {
        width: 30px;
        height: 30px;
        border: 3px solid #E9DDBD;
        
        top: 50px;
        left: 25px;
    }

    .backart i {
        font-size: 20px;
        top: 16%;
    }

    .artdescription {
        margin-top: 60px;
    }

    .title {
        padding-left: 70px;
        padding-right: 70px;
    }

    .title h2 {
        font-size: 20px;
    }

    .mainart img {
        width: 350px;
    }

    .changeart img {
        width: 37px;
        height: 37px;
    }

    .description {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media screen and (min-width:600px) and (max-width: 1169px) {
    .backart {
        width: 50px;
        height: 50px;
    }

    .backart i {
        font-size: 30px;
        top: 21%;
    }

    .artdescription {
        margin-top: 90px;
    }

    .title {
        padding-left: 125px;
        padding-right: 125px;
    }

    .title h2 {
        font-size: 30px;
    }

    .mainart img {
        width: 650px;
    }

    .changeart img {
        width: 80px;
        height: 80px;
    }

    .description {
        margin-left: 90px;
        margin-right: 90px;
    }
}